<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algoritmos Fundamentais</title>
    <link rel="stylesheet" href="./style-index.css">
</head>
<body>
    <div id="cabecalho">
        <h1>Algoritmos Fundamentais</h1>
    </div>
    <form method="get">
        <h4>Selecione a linguagem:</h4>
        <select name="language" id="language-select">
            <option value="java">Java</option>
            <option value="javascript">JavaScript</option>
        </select>
        <h4>Selecione o algoritmo:</h4>
        <select name="algorithm" id="algorithm-select">
            <option value="fibonacci">Fibonnaci</option>
            <option value="contador">Contador de Inteiros</option>
            <option value="mdc">Cálculo de MDC</option>
            <option value="primo">Primo ou Não Primo?</option>
            <option value="quicksort">Quicksort</option>
            <option value="soma">Soma dos Números</option>
        </select>
        <button type="submit">Executar</button>
    </form>
</body>
<script>
    const urlParams = new URLSearchParams(window.location.search)
    const language = urlParams.get("language") 
    const algorithm = urlParams.get("algorithm") 


    if (language == 'javascript') {
        if (algorithm == 'fibonacci') {
            window.location.href = "./fibonacci-js.html"
        } if (algorithm == "contador" ) {
            window.location.href = "./contador-js.html"
        } if (algorithm == "mdc" ) {
            window.location.href = "./mdc-js.html"
        } if (algorithm == "primo") {
            window.location.href = "./primo-js.html"
        } if (algorithm == "quicksort") {
            window.location.href = "./quicksort-js.html"
        } if (algorithm == "soma") {
            window.location.href = "./soma-js.html"
        }
    }  if (language == 'java') {
        if (algorithm == "fibonacci") {
            window.location.href = "https://replit.com/@adelesouza/fundamental-algorithms#Main.java"
        } if (algorithm == "contador" ) {
            window.location.href = "https://replit.com/@adelesouza/integersCounterjava"
        } if (algorithm == "mdc" ) {
            window.location.href = "https://replit.com/@adelesouza/mdcjava"
        } if (algorithm == "primo") {
            window.location.href = "https://replit.com/@adelesouza/primeNumvberjava"
        } if (algorithm == "quicksort") {
            window.location.href = "https://replit.com/@adelesouza/quicksortjava"
        } if (algorithm == "soma") {
            window.location.href = "https://replit.com/@adelesouza/sumjava#Main.java"
        }
    }
</script>
</html>