<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algoritmos Fundamentais</title>
</head>
<body>
    <h1>Algoritmos Fundamentais</h1>
    <h2>Clique no algoritmo que você deseja executar:</h2>
    <h4>Selecione a linguagem:</h4>
    <select name="language" id="language-select">
        <option value="java">Java</option>
        <option value="javascript">JavaScript</option>
    </select>
    <ul>
        <li><button>Fibonnaci</button></li>
        <li><button>Contador de Inteiros</button></li>
        <li><button>Cálculo de MDC</button></li>
        <li><button>Primo ou Não Primo?</button></li>
        <li><button>Quicksort</button></li>
        <li><button>Soma dos Números</button></li>
    </ul>
    <hr>
</body>
</html>