<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="cabecalho">
        <a href="../views/index.html">Home</a>
    </div>
    <div id="corpo">
        <h2>É Primo?</h2>
        <label for="input">Digite o valor a ser verificado:</label>
        <input type="number" id="input">
        <button onclick="submit()">Executar</button>
        <h3 id="answer-container"></h3>
    </div>
</body>
<script src="../models/js/primeNumber.js"></script>
</html>